#contact {
    position: relative;
    height: 100vh;
    background-color: #0f0e17;
}

footer{
    position:absolute;
    bottom: 0;
    background: linear-gradient(#0f0e17, #000);
    height: 30vh;
    width: 100vw;
}


#contact h1{
    position: absolute;
    left: 5%;
    top: 10%;
}